In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

### Tuple:
1. Immutable
2. using () elements are seperated by ,
3. Indexed, Ordered

In [3]:
#Tuple
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [5]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [6]:
tup1[2]=100

TypeError: 'tuple' object does not support item assignment

In [11]:
lis = list(tup1)
lis[2] = 100
tuple(lis)

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

In [13]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [14]:
#unpacking
tup2 = (12,234,4,354)
a,b,c,d = tup2
print(d)

354

In [17]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [18]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [21]:
#iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. Does not allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [22]:
set1 = {1,2,334,45,5,6,2,1}
print((set1))

{1, 2, 5, 6, 45, 334}

In [23]:
#unindexed
print(set1[2])

TypeError: 'set' object is not subscriptable

In [24]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [25]:
print(set1)
print(len(set1))
print(max(set1))
print(min(set1))

{1, 2, 5, 6, 45, 334}
6
334
1

In [29]:
#removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods:
- Adding an element:
1. add()
- Removing an element:
1. pop()
2. remove()
3. discard()
4. clear()

In [30]:
set2 = set()
print(type(set2))

<class 'set'>

In [31]:
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [32]:
set2.pop()

100

In [33]:
set2.remove(12)

In [34]:
set2

{23}

In [35]:
set2.remove(12)

KeyError: 12

In [36]:
set2.discard(12)

In [38]:
set2.clear()
set2

set()

In [42]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U B ==> {1,2,3,4,5,6,7}
print(A.union(B))
# A - B ==> {1,2}
print(A.difference(B)) #A-B
print(B.difference(A)) #B-A
#intersection of A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [44]:
#subset,super set,disjoint
#symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [45]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [47]:
#Symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
A.union(B) ==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}
B ==> {3,4,5,6,7}
===================
A ==> {1,2,3,4,5,6,7}
B ==> {3,4,5,6,7}

In [49]:
A.update(B) #A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [50]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [51]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [52]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [56]:
A = {1,2,3}
B = {2,3,4}
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:
```dictionary name = {key1:value1,key2:key2,.....}```

Rules:
1. keys should be unique
2. keys should be immutable (example: numerics,string,tuple)

In [61]:
#creating a dictionary
dict1 = {"name":"nymisha","roll no":60,"address":"hyd"}
print(dict1)

{'name': 'nymisha', 'roll no': 60, 'address': 'hyd'}

In [62]:
#Extracting an element
print(dict1["roll no"])

60

In [63]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'nymisha', 'roll no': 60}

In [64]:
#adding an entry
dict1["course"] = "python"
print((dict1))

{'name': 'nymisha', 'roll no': 60, 'course': 'python'}

### Built-in methods:
1. keys()
2. items()

In [65]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'roll no', 'course'])
dict_values(['nymisha', 60, 'python'])
dict_items([('name', 'nymisha'), ('roll no', 60), ('course', 'python')])

In [68]:
#Extracting an entry
print(dict1["name"])
print(dict1.get("name"))

nymisha
nymisha

In [69]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'nymisha', 'roll no': 60, 'course': 'python', 'address': 'hyd'}

In [70]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'nymisha', 'roll no': 60, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [73]:
#removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'roll no': 60, 'course': 'python', 'address': 'hyd', 2: 2, 3: 3}

In [74]:
dict1.popitem()

(3, 3)

In [75]:
dict1

{'roll no': 60, 'course': 'python', 'address': 'hyd', 2: 2}