In [1]:
#create another list with even elements of list1
list1 = list(range(1,11))
list2 = []
for i in list1:
    if i%2 == 0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [2]:
#list Comprehension
list3 = [ i for i in list1 if i%2 == 0]
print(list3)

[2, 4, 6, 8, 10]

In [4]:
#Accept string as an input and print all the digits and count of the digits using list comprehension
#input : "Hello 12345"
#output : ['1','2','3','4','5'],5
string = input("enter a string")
list4 = [ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a stringHello 12345
['1', '2', '3', '4', '5'] 5

In [5]:
list5 = list(range(1,11))
list6 = list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
result = [list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [7]:
#zip()
result = [x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Anonymous function(lambda functions)
```lambda arguments : logic```

In [8]:
s = lambda x : x**2

In [9]:
s(12)

144

In [10]:
add = lambda x,y :x+y
add(10,20)

30

### map()

In [11]:
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#output : [2,4,6,8,10,12,14,16,18,20]
result = [i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
#map(function_name,iterable object)
result = list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
'10 20 30'.split()

['10', '20', '30']

In [17]:
#unpacking
x,y,z = list(map(int,input("enter your input").split()))
print(x,y,z)

enter your input10 20 30
10 20 30

### filter()

In [18]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
result = []
for i in list6:
    if i%5 == 0:
        result.append(i)
result

[5, 10]

In [22]:
list(filter(lambda x : (x%5 == 0),list6))

[5, 10]

### Reduce()

In [23]:
from functools import reduce

In [26]:
#Traditional
list1 = [1,2,3,4,5]
#output : 120
m = 1
for i in list1:
    m *= i
print(m)

120

In [27]:
reduce(lambda x,y:x*y,list1)
#[1,2,3,4,5]
#2,3,4,5
#6,4,5
#24,5
#120

120